nav.no-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  gap: 1rem;
  position: relative;
  svg {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    font-size: $fs3;
    cursor: pointer;
  }
  :hover {
    top: -5px;
  }
  .menu-list {
    position: absolute;
    display: none;
  }
}
