@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.App {
  display: flex;
  flex-direction: column;
}

nav.no-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
  gap: 1rem;
  position: relative;
}
nav.no-user svg {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  font-size: clamp(1.94rem, 1.77rem + 0.87vw, 2.44rem);
  cursor: pointer;
}
nav.no-user :hover {
  top: -5px;
}
nav.no-user .menu-list {
  position: absolute;
  display: none;
}

.cheatsheet {
  background-color: hsla(357, 69%, 90%, 0.851);
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  max-height: 400px;
  overflow: scroll;
}
.cheatsheet p {
  font-size: clamp(0.94rem, 0.92rem + 0.11vw, 1rem);
  overflow: scroll;
  font-weight: 300;
}
.cheatsheet .title {
  font-size: clamp(1.62rem, 1.5rem + 0.58vw, 1.95rem);
}
.cheatsheet .categories {
  color: #636262;
}

.overview {
  max-height: 2000px;
  padding: 1rem 0 1rem 0;
}

.default-main {
  padding: 1rem 0 1rem 0;
}
.default-main .main-text {
  padding: 0 0.9rem 0 0.9rem;
}
.default-main .main-text h1,
.default-main .main-text h1 > span {
  font-size: clamp(2.1rem, 2rem + 1.2vw, 3rem);
  line-height: 1.1;
  text-wrap: balance;
  font-weight: bolder;
}
.default-main .main-text h1 > span {
  color: #ed3921;
}
.default-main .main-text .main-subtext {
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
  flex-direction: column;
}
.default-main .main-text .main-subtext p {
  color: #636262;
  font-size: clamp(0.94rem, 0.92rem + 0.11vw, 1rem);
}
.default-main .img-display {
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  display: flex;
  position: relative;
}
.default-main .img-display img {
  max-width: 50%;
}
.default-main .img-display .offset-img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.default-main .img-display #offset-img-1 {
  top: 50%;
  left: 10%;
  position: absolute;
  z-index: 1;
  max-width: 60%;
}
.default-main .img-display #offset-img-2 {
  position: absolute;
  z-index: 2;
  max-width: 40%;
  left: 40%;
  top: 50px;
}

.login-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-main .sign-in {
  max-width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  background-color: hsla(357, 69%, 90%, 0.851);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-main .sign-in .form-group-1 {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.login-main .sign-in .form-group-1 button {
  margin: 0;
}
.login-main .sign-in .login-utlity-btns {
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: clamp(1.13rem, 1.08rem + 0.22vw, 1.25rem);
  font-family: "Merriweather", serif;
  color: #292929;
  text-decoration: none;
}

body {
  background-color: #fae5e6;
  background-image: linear-gradient(180deg, #fae5e6 52%, rgba(253, 246, 247, 0.5) 77%);
  height: 100vh;
  height: 100svh;
}

#root,
.App {
  height: 100%;
  width: 100%;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
  font-family: sans-serif;
}

.wrapper {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto;
}

.flow > *:not(:first-child) {
  margin-top: 0.25rem;
}

.h1 {
  font-size: clamp(2.1rem, 2rem + 1.2vw, 3rem);
  line-height: 1.1;
  text-wrap: balance;
  font-weight: bolder;
}

/*# sourceMappingURL=styles.css.map */
